/* En-tête */
header {
    display: flex;
    align-items: center;
    background-color: #637979;
    padding: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    border: 3px solid black;
    gap: 50px;
}

.logo {
    height: 130px;
    margin-right: 15px;
}


header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 100;

}

body {
    margin: 0;
    background-color: #ffffff;
    padding: 100px;
    font-size: 3rem;
    font-family: Arial, sans-serif;
}


body h2 {
    font-weight: bold;
}

/* Best movie */
.bestmovie {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid black;
    padding: 20px;
    margin-right: 20;
    position: relative;
}

.movie-info {
    padding-top: 0;
    padding-left: 40px;
    padding-right: 20px;
}

.movie-info h3 {
    margin: 0;
    font-size: 2em;
    padding: 20px;
}

.movie-info p {
    font-size: 1em;
    padding: 20px;
    max-width: 90%;
}

.button_détails1 {
    position: absolute;
    right: 150px;
    bottom: 40px;
    background-color: red;
    color: white;
    border: none;
    padding: 30px 60px;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.button_détails1:hover {
    /* Effet survol */
    background-color: darkred;
}


/* Catégories films */
.movie-category h2 {
    margin: 20px 0;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.movie-card {
    position: relative;
    width: calc((100% - 90px) / 3);
    margin-bottom: 20px;
    overflow: hidden;
    height: 450px;
}

.movie-card img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    height: auto;
    object-fit: cover;
}

.movie-overlay {
    position: relative;
    top: 40%;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-50%);
    align-self: flex-start;
}

.movie-overlay h5 {
    margin-top: 30px;
    padding: 0 20px;
    margin-left: 0 0 20px 0;
    padding: 0 20px;
}




.button-details {
    background-color: #383838;
    color: white;
    align-self: flex-end;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    bottom: 20px;
}



/* H2 générales paramètres */
h2 {
    font-size: 4.5rem;
    font-weight: bold;
    margin: 20px 0;
    line-height: 2;

}





#custom-category .category-header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
}

#custom-category h2 {
    margin: 0;
    padding: 0.5rem;
}

#custom-category select {
    padding: 0.8rem;
    font-size: 2rem;
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .header-text h1 {
        font-size: 1.2rem;
    }

    .header-text p {
        font-size: 0.9rem;
    }


    .movie-grid {
        grid-template-columns: 1fr;
    }

    .movie-card {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .movie-container {
        flex-direction: column;
    }

    .movie-card {
        width: calc(50% - 10px);
    }

    .movie-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Style desktops */
@media (min-width: 1024px) {
    .movie-card {
        width: calc(33.333% - 40px);
        margin-right: 30px;
    }

    .movie-card:nth-child(3n) {
        margin-right: 0;
    }
}